
body {
  background-color: #4682B4;
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

#bloco {
  margin: 2%;
  display: -ms-inline-flexbox;
  position:relative;
  width: 100%;
  flex-wrap: wrap;
}

.sessao1 {
  background-color: #D7E2EB;
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 800px;
  flex-wrap: wrap;
}

#img1 {
  width: 90%;
  height: 200px;
  opacity: 0.9;
  z-index: 2;
}

#img2 {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 55%;
  left: 2%;
  top: 40%;
  border: 2px solid #BFCBE3;
  z-index: 3;
  flex-wrap: wrap;
}

#artigo1 {
  position: absolute;
  width: 40%;
  height: 81%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
  background-color: #BCC6CE;
  flex-wrap: wrap;
}

#artigo2 {
  position: absolute;
  padding-left: 2%;
  padding-top: 10px;
  font-size: 20px;
  background-color: #DCE6EE;
  width: 48%;
  height: 99%;
  left: 50%;
  flex-wrap: wrap;
}

.hcp {
  position: absolute;
  padding-top: 200px;
  flex-wrap: wrap;
}

.phc {
  position:absolute;
  left: 50%;
  top: 50%;
  flex-wrap: wrap;
}

#celular {
  position: absolute;
  bottom: 21%;
  flex-wrap: wrap;
}

#email {
  position: absolute;
  bottom: 19%;
  flex-wrap: wrap;
}

#imglinkdin {
  position: absolute;
  width: 15%;
  height: 30px;
  left: 10%;
  bottom: 13%;
}

#imggithub {
  position: absolute;
  width: 15%;
  height: 30px;
  bottom: 7%;
}

#desweb {
  position: absolute;
  top: 6%;
  flex-wrap: wrap;
}

.experiprof {
  position: absolute;
  top: 20%;
  flex-wrap: wrap;
}

.formacad {
  position: absolute;
  top: 55%;
  flex-wrap: wrap;
}

p {
  font-size: 15px;
}

footer {
  position: absolute;
  width:100%;
  height: 7%;
  text-align: center;
  background-color: #104d7c;
  top: 100%;
}