* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
}

#divbody {
  margin: 10px auto 5px auto;
  max-width: 995px;
  background-color: #B0C4DE;
}

#cabecalho {
  background-color: #8FBC8F;
  position:fixed;
  width: 995px;
}

#titulo {
  color: 	#4F4F4F;
  text-align: center;
  padding: 20px;
}

#sessao_img_link{
  display: flex;
  flex-wrap: wrap;
}

#minha_foto {
  margin: 20px;
  margin-top: 120px;
  max-width: 100%;
}

#title_links {
  padding-left: 15px;
  margin-bottom: 10px;
  margin: 150px 0px 15px 90px;
  font-size: 18px;
}

#img_linkgit, #img_linkdin {
  width: 130px;
  height: 50px;
  margin-left: 140px;
  margin-top: 90px;
}

#sessao_licoes {
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 5px;
}
#h3licoesaprendidas {
  padding-bottom: 20px;
}

#licoes_aprendidas {
  list-style: none;
  padding-left: 15px;
  margin: 40px 0px 15px 150px;
}

#h3licoesaaprender {
  font-size: 25px;
  padding-bottom: 20px ;
}

#licoes_a_aprender {
  list-style: none;
  padding-bottom: 40px;
  padding-left: 15px;
  margin: 40px 0px 15px 120px
}

#artigo_sessao {
  display: flex;
  flex-wrap: wrap;
}

#h4_artigo_sobre_mim {
  margin: 25px 0px 15px 20px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#artigo_sobre_mim{
  max-width: 450px;
  text-align: justify;
  margin: 25px 50px 15px 15px;
  font-size: 20px;
}

#h4_passagem_aprendizado{
  margin: 25px 15px 15px 15px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#texto_passagem_aprendizado{
  max-width: 450px;
  margin: 25px 15px 15px 15px;
  text-align: justify;
  font-size: 20px;
}

#ulnavrodape {
  margin: 90px;
  font-size: 18px;
}

#rodape {
  margin-top: 100px;
  background-color: #5F9EA0;
  width: 100%;
  padding: 20px;
  text-align: center;
}